.grid__show {
  display: block;
}

.grid__hide {
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(100px, 250px);
  justify-content: center;
}

.grid-item-placeholder {
  margin-top: -22rem;
}

.placeholder-wrapper {
  width: 90vw;
  margin: 2.2rem auto;
}

@media (max-width: 1200px) {
  .grid {
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, 250px);
    margin-left: 1rem;
  }

  .placeholder-wrapper {
    display: none;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 300px;
    grid-auto-rows: minmax(100px, 250px);
  }
}
